.header {
  position: fixed;
  background: $black;
  height: $header-height-lg;
  width: 100%;
  z-index: 20;

  .container {
    height: 100%;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo {
    width: 172px;
    height: auto;
  }

  &-burger {
    display: none;
  }

  &-menu {
    &__links {
      display: flex;
      align-items: center;
      column-gap: 52px;
    }

    &__link {
      text-align: center;
      font-size: 1.125rem;
      font-weight: 400;
    }
  }

  @media (max-width: $media-md) {
    height: $header-height-md;
    padding: 0 30px;

    .logo {
      width: 108px;
    }

    &-burger {
      display: flex;
      position: relative;
      height: 14px;
      width: 18px;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background: white;
        position: absolute;
        top: 0;
        border-radius: 4px;
      }

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background: white;
        position: absolute;
        bottom: 0;
        border-radius: 4px;
      }

      span {
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        background: white;
        border-radius: 4px;
      }
    }

    &-menu {
      display: none;
    }
  }
  
  @media (max-width: $media-sm) {
    padding: 0 12px;
  }
}

.opened {
  overflow: hidden;

  .header-burger {
    span {
      display: none;
    }

    &::before {
      transform: rotate(45deg);
      top: 50%;
    }
    &::after {
      transform: rotate(-45deg);
      top: 50%;
    }
  }

  .header-menu {
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100vh - $header-height-md);
    z-index: 10;
    background: $black;
    justify-content: flex-end;
    padding: 30px;
    top: $header-height-md;
    margin: 0 -30px;

    &__links {
      flex-direction: column;
      align-items: flex-end;
    }

    &__link {
      font-size: 2.2rem;
      line-height: 6.6rem;
    }

    @media (max-width: $media-sm) {
      margin: 0 -12px;
    }
  }
}