.how-start {
  position: relative;

  &__figures1 {
    position: absolute;
    left: 0;
    width: 213px;
    top: 0;
  }

  &__figures2 {
    position: absolute;
    right: 0;
    width: 217px;
    top: 0;
  }

  &__laptop {
    position: absolute;
    width: 946px;
    z-index: 1;
    top: -56px;
    right: -320px;
  }

  &__container {
    padding-left: 100px;
  }

  &__title {
    margin-bottom: 33px;
    text-align: center;
  }

  &-cards {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
  }

  &-card {
    padding: 20px;
    position: relative;
    border-radius: 12px;
    background: #FFF;
    display: flex;
    width: 680px;
    color: $black;

    &__icon {
      height: auto;
      width: 58px;
      margin-right: 13px;
    }

    &__title {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1rem;
      margin-bottom: 13px;
    }

    &__list {
      &-item {
        color: $black;
        line-height: 0.7rem;
        letter-spacing: -0.16px;

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        &::before {
          background: url("../images/mark-black.svg") no-repeat;
        }
      }
    }

    &_short {
      width: 500px;
    }
  }

  &__desc {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 500;
    max-width: 507px;
    margin-bottom: 20px;
  }

  &__btn {
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  
  @media (max-width: $media-md) {
    &__figures1 {
      display: none;
    }

    &__figures2 {
      width: 143px;
    }

    &__laptop {
      position: absolute;
      width: 506px;
      z-index: 1;
      top: 41px;
      right: -15%;
    }

    &__container {
      padding-left: 31px;
    }

    &__title {
      margin-bottom: 26px;
    }

    &-cards {
      margin-bottom: 11px;
      row-gap: 11px;
    }

    &-card {
      padding: 15px;
      border-radius: 9px;
      width: 513px;

      &__icon {
        width: 42px;
        margin-right: 10px;
      }

      &__title {
        margin-bottom: 10px;
      }

      &__list {
        &-item {
          line-height: 0.9rem;

          &:not(:last-child) {
            margin-bottom: 9px;
          }
        }
      }

      &_short {
        width: 373px;
      }
    }

    &__desc {
      max-width: 410px;
      margin-bottom: 15px;
    }
  }

  @media (max-width: $media-sm) {
    padding-left: 12px;
    padding-right: 12px;

    &__laptop {
      display: none;
    }

    &__container {
      padding-left: 0
    }

    &__title {
      margin-bottom: 19px;
    }

    &-cards {
      margin-bottom: 18px;
      row-gap: 12px;
    }

    &-card {
      width: 100%;
      height: unset;
      max-height: unset;

      &__icon {
        display: none;
      }

      &__title {
        font-size: 16px;
        margin-bottom: 12px;
      }

      &__list {
        &-item {
          font-size: 14px;
          display: flex;
          line-height: 17px;

          &::before {
            margin-top: 4px;
          }
        }
      }

      &_short {
        width: 100%;
      }
    }

    &__desc {
      font-size: 16px;
      max-width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}