.traffics {
  padding-left: 42px;
  padding-right: 42px;
  position: relative;

  &__money-img {
    width:  257px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__title {
    max-width: 755px;
    margin-bottom: 44px;
  }

  &-cards {
    display: flex;
    gap: 26px;
    margin-bottom: 38px;

    &__col {
      display: flex;
      flex-direction: column;
      row-gap: 26px;
      width: 100%;

      &_offset {
        margin-top: 40px;
      }
    }
  }

  &-card {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 16px -2px 67px 0px rgba(217, 213, 233, 0.28);
    display: flex;
    column-gap: 7px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 341px;
    padding: 24px;

    &__icon {
      height: auto;
      width: 100%;
      min-width: 83px;
      max-width: 83px;
    }

    &__text {
      color: $black;
      font-size: 1.125rem;
      font-weight: 400;
    }
  }

  &-buttons {
    display: flex;
    column-gap: 18px;
    justify-content: center;
  }

  &__btn {
    position: relative;
    z-index: 1;
  }

  &__bg-pattern {
    width: 93%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }



  @media (max-width: $media-md) {
    &__money-img {
      width: 158px;
      right: 10px;
      top: 10px;
    }

    &__title {
      max-width: 545px;
      line-height: 3.5rem;
      margin-bottom: 35px;
    }

    &-cards {
      gap: 11px;
      margin-bottom: 28px;

      &__col {
        row-gap: 11px;

        &_offset {
          margin-top: 14px;
        }
      }
    }

    &-card {
      column-gap: 4px;
      min-width: 224px;
      padding: 16px;

      &__icon {
        min-width: 55px;
        max-width: 55px;
      }
    }

    &-buttons {
      column-gap: 10px;
    }
  }

  @media (max-width: $media-sm) {
    padding-left: 12px;
    padding-right: 12px;

    &__money-img {
      display: none;
    }

    &__title {
      max-width: unset;
      line-height: 35px;
      margin-bottom: 19px;
    }

    &-cards {
      gap: 7px;
      margin-bottom: 28px;
      flex-direction: column;

      &__col {
        flex-direction: row;
        gap: 7px;

        &_offset {
          margin-top: 0;
        }
      }
    }

    &-card {
      column-gap: 3px;
      min-width: 144px;
      padding: 8px;

      &__icon {
        min-width: 35px;
        max-width: 35px;
      }

      &__text {
        font-size: 12px;
      }
    }

    &-buttons {
      flex-direction: column;
      gap: 12px;

      .btn {
        width: 100%;
      }
    }
  }
}